<ion-list>

  <ion-item-group *ngIf="properties.length > 0">
    <ion-item-divider color="light">
      <h2>Properties</h2>
    </ion-item-divider>
    <button ion-item text-wrap *ngFor="let btn of properties" (click)="btn.handler()">
      <h2>{{ btn.text }}</h2>
      <p *ngIf="btn.desc">{{ btn.desc }}</p>
    </button>
  </ion-item-group>

  <ion-item-group *ngIf="methods.length > 0">

    <ion-item-divider color="light" text-wrap>
      <h2>Methods</h2>
      <p *ngIf="!sigName">Swipe to the left to call with params</p>
      <p *ngIf="sigName">Click on the method name to call. You will be prompted for params if needed.</p>
    </ion-item-divider>

    <button ion-item  *ngFor="let btn of methods"(click)="btn.handler()" text-wrap>
      <h2>{{ btn.text }}</h2>
      <p *ngIf="btn.desc">{{ btn.desc }}</p>
    </button>

  </ion-item-group>

</ion-list>
